.App {
  text-align: center;
}
body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine{
    outline: 5px solid orange;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 660px;
    text-align: center;
    background-color: #b3b3b3;
}
.pad{
    width: 332px;
    height: 272px;
    display: inline-block;
    margin: 20px;
}

.drum-pad{
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 100px;
    display: flex;
    height: 80px;
    margin-right: 10px;
    border-radius: 5px;
    padding-top: 0;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    border: 5px solid #434429;
    align-items: center;
}
p{
  font-style: italic;
  font-weight: lighter;
  margin: 0;
}
.display{
  width: 44%;

}

.active-key{
  font-size: 50px;
  font-weight: 600;
}

.text-header{

}